{% include 'base/base.html' %}
{% load static %}

{% block content %}

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{% block page_title %}Dashboard{% endblock %}</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                  <input class="mdl-textfield__input" type="text" id="search">
                </div>
            </div>
        </div>
      </header>

      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">

        <header class="demo-drawer-header">
            <div><h6>{{ request.user.first_name }} {{ request.user.last_name }}</h6></div>
            <span>{{ request.user.username }}</span>
        </header>

        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link mdl-color-text--white" href="{% url 'dashboard' %}">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
                Dashboard
            </a>
            <a class="mdl-navigation__link mdl-color-text--white" href="{% url 'client' %}">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>
                Clientes
            </a>
            <a class="mdl-navigation__link mdl-color-text--white" href="{% url 'service' %}">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">build</i>
                Catálogo de serviços
            </a>
            <a class="mdl-navigation__link mdl-color-text--white" href="{% url 'logout' %}">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">cancel</i>
                Logout
            </a>
            <div class="mdl-layout-spacer"></div>
            <a target="_blank" class="mdl-navigation__link" href="https://github.com/g0ulartleo/general-services">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i>
            </a>
        </nav>

      </div>

      <main class="mdl-layout__content mdl-color--grey-100">
        {% block main %}{% endblock %}
      </main>

    </div>

{% endblock %}
